<h3 class="title">Edit user</h3>

<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :update, @user)) %>

<div class="actions">
  <%= link "Back", to: user_path(@conn, :index) %>
</div>
