<h3 class="title"><%= @gist.name %></h3>

<div class="gist-code">
  <textarea class="readonly"><%= @gist.code %></textarea>
</div>

<div class="actions">
  <%= link "Edit", to: gist_path(@conn, :edit, @gist) %>
   | 
  <%= link "Back", to: gist_path(@conn, :index) %>
</div>
