<h3 class="title"><%= @gist.name %></h3>

<code>
  <%= @gist.code %>
</code>

<div class="actions">
  <%= link "Edit", to: gist_path(@conn, :edit, @gist) %>
   | 
  <%= link "Back", to: gist_path(@conn, :index) %>
</div>
