<table>
  <tr>
    <th>Gist name</th>
    <th></th>
  </tr>
  <%= for gist <- @gists do %>
    <tr>
      <td>
        <%= gist.name %>
      </td>
      <td>
        <%= link "View", to: public_path(@conn, :show, gist.id) %>
      </td>
    </tr>
  <% end %>
</table>

